<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('./partials/header'); %>
</header>

<style>
    .center {
      margin: auto;
      padding: 10px;
      
    }
</style>

<main class="bg-light">
    <div class="text-center">
        <br>
        <a class="btn btn-info" role="button" href="<%= pharmData.data.url%>">The cheapest pharmacy is <%= pharmData.data.name %>!</a>
        <br>
        <h3>The cost is $<%= pharmData.cost%> per unit</h3>
    </div>
</main>

<footer>
  <%- include('./partials/footer'); %>
</footer>

</body>
</html>